.banner{
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text-banner{
    background: black;
    color: white;
    padding: 2em;
    text-align: center;
    margin-bottom: auto;
    order: 2;
    border-radius: 10px;
    box-sizing: border-box;
}

.text-banner hr{
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.social-links{
    display: flex;
    justify-content: space-around;
}

.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
}


.avatar-one{
    height: 250px;
    order: 1;
}

@media(max-width: 800px){
    .banner{
        flex-direction: column;
        align-items: center;
    }
    .img{
        order: 1;
    }
    .text-banner{
        order: 2;
        text-align: center;
        width: 80%;
    }
}

