.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #1d4350; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a43931,
    #1d4350
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a43931,
    #1d4350
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.avatar-two {
  height: 250px;
  order: 1;
  border-radius: 50%;
  height: 300px;
}

.contact-item {
  flex-basis: 40%;
  background: wheat;
  text-align: center;
  border-radius: 50px;
}

.contact-list {
  display: flex;
  justify-content: center;
}

.contact-list i {
  font-size: 60px;
  padding-right: 5rem;
}

.item-content {
  font-size: 30px;
  font-family: "Anton";
}

.item-content-two {
  font-size: 25px;
  font-family: "Anton";
}

.about {
  padding: 2em;
  text-align: center;
}

.contact-item hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-item h2 {
  font-weight: bold;
  font-family: "Anton", sans-serif;
}

.contact-item p {
  font-family: "Oxygen", sans-serif;
}

.about {
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 800px) {
  .projects-grid {
    flex-direction: column;
  }

  .contact-container {
    flex-direction: column;
    position: static;
  }

  .about {
    padding-top: 2em;
  }

  .item-content {
    font-size: 30px;
    font-family: "Anton";
  }

  .item-content-two {
    font-size: 18px;
    font-family: "Anton";
  }

  .contact-list i {
    font-size: 36px;
    padding-right: 2rem;
  }
}

@media (min-width: 800px) {
  .contact-center {
  }
}
